* {
  margin: 0;
  font-family: Arial;
  border: border-box;
}
#icon {
  background-color: white;
}
.navbar {
  height: 60px;
  background-color: #0f1111;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.nav-logo {
  height: 50px;
  width: 100px;
}
.logo {
  background-image: url("amazon_logo.png");
  background-size: cover;
  height: 50px;
  width: 100%;
}
.border {
  border: 2px solid transparent;
}
.border:hover {
  border: 2px solid white;
}
.nav-address {
  margin-left: 8px;
  margin-right: 2px;
}
.add1 {
  font-size: 12px;
  color: #cccccc;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 15px;
}
.add-icon {
  display: flex;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  align-items: center;
}
.add2 {
  margin-left: 3px;
}
.search {
  display: flex;
  align-items: center;
  width: 620px;
  height: 40px;
}
.search select {
  background-color: #f3f3f3;
  width: 50px;
  height: 40px;
  text-align: center;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  margin-left: 8px;
  border: none;
  padding: none;
}
#searchname {
  font-size: 1rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  width: 500px;
  height: 38px;
  text-align: left;
  border: none;
  padding-left: 5px;
}
.searchicon {
  color: black;
  display: flex;
  font-size: 1.2rem;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  background-color: #febd68;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.nav-language {
  display: flex;
  align-items: center;
  margin-left: 8px;
  margin-top: 18px;
}
.selectlang {
  font-weight: 600;
  background-color: #0f1111;
  color: white;
  height: 25px;
  width: 42px;
  border-color: #0f1111;
}
.nav-sign {
  margin-left: 8px;
}
.hello {
  background-color: #0f1111;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 12px;
  margin-left: 5px;
  margin-top: 5px;
}
.signin {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 14px;
  background-color: #0f1111;
  color: white;
  font-weight: 650;
  border-color: #0f1111;
  margin-bottom: 2px;
}
.nav-returns {
  margin-left: 8px;
}
.returns {
  background-color: #0f1111;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 12px;
  margin-left: 10px;
  margin-top: 5px;
}
.orders {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 14px;
  background-color: #0f1111;
  color: white;
  font-weight: 650;
  border-color: #0f1111;
  margin-bottom: 2px;
  margin-left: 8px;
}
.nav-cart {
  font-weight: 500;
  display: flex;
  margin-left: 8px;
}
.nav-cart i {
  font-size: 32px;
}
.cart {
  margin-top: 16px;
}
.panel {
  display: flex;
  height: 39px;
  background-color: #222f3d;
  color: white;
  font-size: 14px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  align-items: center;
  font-weight: 500;
}
.panel i {
  font-size: 18px;
  margin-left: 12px;
}
.hero-section {
  background-image: url("hero_image.jpg");
  background-size: cover;
  height: 400px;
  transition: 2s all;
}
.hero-section:hover {
  transform: scaleX(1.05);
}
.link {
  display: flex;
  background-color: whitesmoke;
  height: 39px;
  justify-content: center;
  align-items: center;
}
.a {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #007185;
  font-weight: 500;
  text-decoration: none;
}
.a1 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: white;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
}
.content {
  background-color: #cccccc;
}
.line1 {
  display: flex;
  height: 420px;
  justify-content: space-evenly;
}
.line2 {
  display: flex;
  height: 420px;
  justify-content: space-evenly;
}
.line3 {
  display: flex;
  height: 420px;
  justify-content: space-evenly;
}
.box11 {
  width: 22%;
  height: 390px;
  margin-top: 8px;
  background-color: white;
}
.box12 {
  width: 22%;
  height: 390px;
  margin-top: 8px;
  background-color: white;
}
.box13 {
  width: 22%;
  margin-top: 8px;
  height: 390px;
  background-color: white;
}
.box14 {
  width: 22%;
  height: 390px;
  background-color: white;
}
.box21 {
  width: 30%;
  height: 390px;
  background-color: white;
}
.box22 {
  width: 30%;
  height: 390px;
  background-color: white;
}
.box23 {
  width: 30%;
  height: 390px;
  background-color: white;
}
.img1 {
  background-image: url("health.jpg");
  height: 300px;
  width: 250px;
  margin-left: 15px;
}
.imgh1 {
  margin-left: 15px;
  margin-top: 12px;
  margin-bottom: 8px;
}
.imga1 {
  margin-left: 15px;
  margin-top: 8px;
}
.img2 {
  background-image: url("Fuji_Dash_Beauty_2x._SY608_CB432774344_.jpg");
  height: 300px;
  width: 250px;
  margin-left: 15px;
}
.imgh2 {
  margin-left: 15px;
  margin-top: 12px;
  margin-bottom: 8px;
}
.imga2 {
  margin-left: 15px;
  margin-top: 8px;
}
.img3 {
  background-image: url("tv.jpg");
  height: 300px;
  width: 250px;
  background-size: cover;
  margin-left: 15px;
}
.imgh3 {
  margin-left: 15px;
  margin-top: 12px;
  margin-bottom: 8px;
}
.imga3 {
  margin-left: 15px;
  margin-top: 8px;
}
.img4 {
  background-image: url("category.jpg");
  height: 300px;
  width: 250px;
  background-size: cover;
  margin-left: 15px;
}
.imgh4 {
  margin-left: 15px;
  margin-top: 12px;
  margin-bottom: 8px;
}
.imga4 {
  margin-left: 15px;
  margin-top: 8px;
}
.img5 {
  background-image: url("laptops.jpg");
  height: 300px;
  width: 340px;
  background-size: cover;
  margin-left: 15px;
}
.imgh5 {
  margin-left: 15px;
  margin-top: 12px;
  margin-bottom: 8px;
}
.imga5 {
  margin-left: 15px;
  margin-top: 8px;
}
.img6 {
  background-image: url("watches.jpg");
  height: 300px;
  width: 340px;
  background-size: cover;
  margin-left: 15px;
}
.imgh6 {
  margin-left: 15px;
  margin-top: 12px;
  margin-bottom: 8px;
}
.imga6 {
  margin-left: 15px;
  margin-top: 8px;
}
.img7 {
  background-image: url("kitchen.jpg");
  height: 300px;
  width: 340px;
  background-size: cover;
  margin-left: 15px;
}
.imgh7 {
  margin-left: 15px;
  margin-top: 12px;
  margin-bottom: 8px;
}
.imga7 {
  margin-left: 15px;
  margin-top: 8px;
}
.final {
  height: 300px;
  background-image: url(final.jpg);
  background-size: cover;
  transition: 2s all;
}
.final:hover {
  transform: scaleX(1.1);
}
.footpanel {
  display: flex;
  height: 30px;
  color: white;
  background-color: #37475a;
  justify-content: center;
  align-items: center;
}
.anchor {
  color: white;
  font-family: sans-serif;
  font-size: 12px;
  font-weight: 500;
  text-decoration: none;
}
.last {
  display: flex;
  height: 250px;
  background-color: #222f3e;
  color: white;
  justify-content: center;
  align-items: top;
}
.last1 {
  color: white;
  margin-top: 30px;
}
.last2 {
  margin-left: 50px;
  margin-top: 30px;
}
.last3 {
  margin-left: 50px;
  margin-top: 30px;
}
.last4 {
  margin-left: 50px;
  margin-top: 30px;
}
.list {
  text-decoration: none;
  text-underline-offset: none;
}
.final1 {
  display: flex;
  height: 100px;
  background-color: #222f3e;
  justify-content: center;
  align-items: center;
}
.lang1 {
  color: #cccccc;
  font-size: 12px;
  background-color: #222f3e;
  border: 1px solid #cccccc;
  padding: 7px;
}
.logo1 {
  margin-right: 20px;
  margin-top: 8px;
}
.option {
  margin-right: 20px;
}
.flag1 {
  display: flex;
  border: 1px solid #cccccc;
  padding: 4px;
}
.country {
  font-size: 12px;
  margin-top: 2px;
}
.smiley i {
  color: white;
}
.smiley {
  display: flex;
  margin-left: 400px;
}
.author {
  color: white;
  font-weight: 600;
  font-family: cursive;
}
